# Arquivos binários e executáveis
*.exe

# Arquivos de pacotes e compactados
*.zip

# Logs e arquivos temporários
*.log
*.tmp

# Objetos de compilação
*.o
*.obj

# IDE e editores
.vscode/

# Arquivos do sistema operacional
Thumbs.db
desktop.ini

# Pastas e arquivos auxiliares
myaux.txt